<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/estilos.css">
</head>
<body>
<p>seleccionar rango de fechas</p>
<label for="">Desde</label>
<input onchange="ObtenerDatos()" id="fechaDesde" type="datetime-local">
<label for="">Hasta</label>
<input onchange="ObtenerDatos()" id="fechaHasta" type="datetime-local">

<p><span id="numero">x</span> registros</p>
<button onclick="ObtenerDatos()">Descargar</button>
<script src="http://danml.com/js/download.js"></script>
<script>
    var date = new Date(); // Or the date you'd like converted.
    var isoDateTime = new Date(date.getTime() - (date.getTimezoneOffset() * 60000)).toISOString();
    let fechaDesde = document.getElementById("fechaDesde").value = isoDateTime.substring(0, isoDateTime.lastIndexOf(":"))

    function ObtenerDatos() {
        let fechaDesde = document.getElementById("fechaDesde")
        let fechaHasta = document.getElementById("fechaHasta")
        let desde = new Date(fechaDesde.value)
        let hasta = new Date(fechaHasta.value)
        desde = desde.getTime() / 1000
        hasta = hasta.getTime() / 1000

        let data = {desde, hasta}
        console.log(data)

        fetch("http://app.rotamfuel.com:45555/results", {
            method:"POST",
            headers: {
                'Content-Type': 'text/csv'
            },
            body: JSON.stringify(data),
            responseType: 'blob'
        }).then(response => response.blob())
            .then(blob => download(blob, 'test.csv','text/csv'));


    }


</script>

</body>
</html>
